html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding-top: 1rem;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.content{
    text-align: justify;
    margin: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
}


.menu-name{
  text-align: right;
  padding: 0.2rem;
}
.menu-name-1 span:nth-child(1){
    background-color: pink;
    border: 1px solid #000;
}

.menu-name-2 span:nth-child(1) {
    background-color: red;
    border: 1px solid #000;
}

.menu-name-3 span:nth-child(1) {
    background-color: yellow;
    border: 1px solid #000;
}

.title{
    text-align: center;
    font-weight: bold;
}

.tab-view{
    display: none;
}


@media (max-width: 767px) {
    .container{
        flex-direction: column !important;

    }
    .container article:last-child {
      display: block !important;
    }
    .tab-view{
        display: none !important;
    }
}


@media (max-width: 976px) {
    .container article:last-child {
            display: none;
     }
     .tab-view{
        display: block;
        width: 100%;
     }
}

